@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold 1h-1 mb-3">TATTARRATTAT: A Coding Project</h1>
            <h4 class="lead">An ASP.NET C# program that checks for palindromes.</h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>CSS SASS Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>ASP.NET MVC</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>Entity Framework</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# Dom Manipulation</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# If/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square me-2"></i></span>C# Boolean Logic</li>
            </ul>
            <div>
                <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-controller="Home" asp-action="Reverse">Try It Out!</a>
            </div>
        </div>
        <div class="colr">
            <img src="~/assets/img/tattarrattatlogo.svg" class="img-fluid" alt="App Logo">
            <div class="fw-bold mt-5">
                <div class="d-flex flex-wrap justify-content-between project-icons">
                    <img src="~/assets/img/html5icon.svg" class="m-2" />
                    <img src="~/assets/img/css3icon.svg" class="m-2" />
                    <img src="~/assets/img/sassicon.svg" class="m-2" />
                    <img src="~/assets/img/bootstrapicon.svg" class="m-2" />
                    <img src="~/assets/img/jsicon.svg" class="m-2" />
                    <img src="~/assets/img/nodejsicon.svg" class="m-2" />
                </div>
            </div>
        </div>
    </div>
</div>

